__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/
dist/
build/

data/raw/*.csv
data/processed/
notebooks/.ipynb_checkpoints/
reports/

config/firebase_config.json
.env

.DS_Store
Thumbs.db
.idea/
.vscode/

.rasa/
.cache/
.streamlit/